/* AnimatedSplash.css */

.animated-splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* Customize background color */
    z-index: 9999; /* Ensure it's on top of other elements */
  }
  
  .animated-splash h1 {
    font-size: 2em;
    /* Add any other styles for the text */
  }
  